{% extends "index.html" %}
{% load static %}

<style>
    .hello21{
        text-decoration-line: line-through;
        text-decoration-color: red;
    }
</style>
{% block content %}
<div class="pedding">
    <div class="container">
        <ul>
            {% for item in Technique %}
              <li class="myli" style="width: 200px;">
                <div clawss="best_shoes">
                  <div class="shoes_icon"><img src="{{item.img}}" ></div>
                  <div class="star_text">
                    <div class="left_part" >
                        <p> Name:  {{item.name}}</p>
                        <p> Size:  {{item.size}}</p>
                        <p> Color:  {{item.color}}</p>
                        <p> COMPANY:  {{item.company}}</p>
                    </div>
                    <div class="right_part">
                      <div class="shoes_price">$ <span style="color: #ff4e5b;">{{item.price}}</span></div>
                    </div>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="checkout.html" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                            <input type="hidden" name="amount" value="7.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                            
                    </form>
            
                </div>
                </div>
                
              </li>
              {% endfor %}
        </ul>
    </div>
</div>
<div>
    <div class="container">
        <ul>
            {% for item in Aksiya %}
              <li class="myli" style="width: 200px;">
                <div class="best_shoes">
                  <div class="shoes_icon"><img src="{{item.img}}" ></div>
                  <div class="star_text">
                    <div class="left_part" >
                        <p> Name:  {{item.name}}</p>
                        <p> Size:  {{item.size}}</p>
                        <p> Color:  {{item.color}}</p>
                        <p> COMPANY:  {{item.company}}</p>
                    </div>
                    <div class="right_part">
                      <div class="shoes_price">$ <span style="text-decoration-line: line-through;
                        text-decoration-color: red;">{{item.old_price}}</span></div>
                      <div class="shoes_price">$ <span style="color: black;">{{item.new_price}}</span></div>
                    </div>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="checkout.html" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                            <input type="hidden" name="amount" value="7.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                            
                    </form>
            
                </div>
                </div>
                
              </li>
              {% endfor %}
        </ul>
    </div>  
</div>

{% endblock %}